<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <title>Users page</title>
  <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
</head>
<body>
  <div class="shower">
    {% if webusrs %}
    <table>
      <thead>
        <th>Name</th>
        <th>Last-name</th>
        <th>Email address</th>
      </thead>
      {% for acc in webusrs %}
      <tr>
        <td>{{acc.name}}</td>
        <td>{{acc.lname}}</td>
        <td>{{acc.email}}</td>
        {% if acc.img %}
        <td><img src="{{acc.img.url}}" class="imgGen"></td>
        {% else %}
        <td>No img</td>
        {% endif %}
      </tr>
      {% endfor %}
      {% else %}
      <p>Access error!!!</p>
    </table>
    {% endif%}

    {% if topicz %}
    <table>
      <thead>
        <th>Available topics</th>
      </thead>
      {% for acc in topicz %}
      <tr>
        <td>{{acc.top_name}}</td>
      </tr>
      {% endfor %}
      {% else %}
      <p>There's no topics to show!!!</p>
      {% endif %}
    </table>
  </div>
</body>
</html>
